.labels {
  font-size: 0.9em;
  margin: 0 1rem;
}

.result {
  font-size: 0.9em;
  margin: 0 1rem;
}

.first-col {
  font-size: 0.9em;
  margin: 0 1rem;
}

body {
  background-color: rgb(12, 29, 46);
}
